body{
  background-image: url('../nick-fewings.jpg');
}
#header {
    font-size: 28px;
    padding: 5px;
    text-align: center;
    background-color: blueviolet;
}

#menu {
   
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;;
    height: 100%;
    overflow: auto;
    justify-content: center;
}

#menu a {
    float: left;
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

#menu a.active {
    background-color: #04AA6D;
    color: white;
}

#menu a:hover:not(.active) {
    background-color: #555;
    color: white;
}

#container{
   padding: 2%; 
   margin-left: 5%;
    
}

.img-list {
list-style: none;
padding: 0;
margin: 0;
}
.img-list li {
border: 5px solid transparent;
box-sizing: border-box;
width: 33.33%;
float: left;
position: relative;
cursor: pointer;
}
.img-list img {
max-width: 100%;
vertical-align: middle;
}

/* Image Placeholder Styles
-------------------------------------------------------------- */
.img-placeholder:before,
.img-placeholder:after {
padding-top: 33.33%;
content: "";
display: block;
}  
.img-placeholder {
background: #222;
box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
color: #444;
line-height: 0;
text-align: center;
display: block;
}

/* The hover effect
-------------------------------------------------------------- */
.img-list li:before {
transition: all .5s ease;
content: "";
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: #333;
transform: scale(0);
}
.img-list li:hover:before {
opacity: .5;
transform: scale(1);
}
.img-list li:after {
transition: all .6s ease .2s;
content: "";
position: absolute;
top: 8px;
left: 8px;
right: 8px;
bottom: 8px;
border: 1px solid #aaa;
background: #000;
opacity: 0;
transform: scale(0);
}
.img-list li:hover:after {
opacity: .35;
transform: scale(1);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* about pagination */
#pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;

}

#pagination-container button {
  margin: 0 10px; /* Add space between buttons */
  padding: 10px 15px; /* Add padding to buttons */
  background-color: #007bff; /* Button background color */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
}


#pagination-container button:disabled {
  background-color: #ccc; /* Grey out disabled buttons */
  cursor: not-allowed; /* Change cursor for disabled */
}


#pagination-container button:hover:not(:disabled) {
  background-color: #0056b3; /* Darker blue on hover */
}
